#seccionNosotros {
  grid-area: nosotros; }

.nosotros, .mas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; }
  .nosotros img, .mas img {
    width: 25rem;
    height: 23rem; }

.imgNosotros {
  margin: 20px;
  width: 350px;
  height: 300px; }

.textNosotros, .mas p {
  width: 40rem;
  height: 20rem;
  text-align: justify;
  margin: 10px;
  font-style: normal;
  font-family: 'Roboto';
  font-weight: 300;
  display: inline-block; }

.mas {
  margin: 20px;
  background-color: #0c0c0c; }
  .mas h2 {
    font-size: 25px;
    text-decoration: underline;
    font-family: 'Staatliches', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: center;
    display: block;
    margin: 30px;
    color: whitesmoke; }
  .mas p {
    width: 10rem;
    height: 10rem;
    color: whitesmoke; }

#secionServicios {
  grid-area: servicios;
  margin-top: 100px;
  align-items: center;
  justify-content: center; }

.flexServicios {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px; }

.servicio {
  width: 18rem;
  height: 18rem;
  position: static; }

#seccionClientes {
  grid-area: clientes;
  margin-bottom: 120px; }

.galeriaClientesIndex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-around;
  justify-content: space-around; }
  @media only screen and (min-width: 1024px) {
    .galeriaClientesIndex {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly; } }
  @media only screen and (min-width: 768px) {
    .galeriaClientesIndex {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly; } }

#seccionLegales {
  grid-area: footer;
  font-family: 'Roboto';
  display: flex;
  flex-flow: row wrap;
  padding: 20px;
  margin-top: 50px;
  background-image: linear-gradient(to bottom right, #7d8cc4, white);
  width: 100vw;
  justify-content: space-around;
  align-items: initial; }
  #seccionLegales img {
    width: 220px;
    height: 60px; }
  #seccionLegales a {
    color: #3d3c3c; }

* {
  Margin: 0;
  padding: 0; }

div {
  padding: 4px 10px;
  align-content: center;
  text-align: center; }

#indexGrid {
  display: flex;
  flex-direction: column; }

#menuRedes {
  grid-area: header;
  background-color: #4a5788;
  align-content: left;
  text-align: left;
  font-size: 12px; }
  #menuRedes ul li {
    background-color: #4a5788;
    display: inline;
    padding: 2px 7px;
    margin: 5px;
    color: #430dc4; }
  #menuRedes img {
    height: 25px;
    width: 25px; }

#seccionPrincipal {
  grid-area: navbar;
  background-color: #7d8cc4;
  display: block;
  width: 100vw;
  text-align: center;
  top: 0px;
  margin: 0px 0px 30px 0px; }
  #seccionPrincipal a {
    color: white;
    text-decoration: none; }

.navegacion {
  width: 100vw; }

.fotoLogo {
  max-width: 250px;
  margin: 15px; }

#menuPrincipal ul li {
  display: block;
  padding: 5px 12px; }

.superttl {
  font-size: 50px;
  text-decoration: underline;
  font-family: 'Staatliches', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: black;
  text-align: center;
  display: block;
  margin: 30px; }

.parrafo {
  font-style: normal;
  font-family: 'Roboto';
  font-weight: 200;
  display: inline-block;
  margin: 10px;
  text-align: center;
  max-width: 600px; }

@media only screen and (min-width: 1024px) {
  #indexGrid {
    display: grid;
    grid-template-areas: "header header"  "navbar navbar"  "nosotros clientes" "servicios clientes" "footer footer";
    grid-template-columns: 3fr 1fr;
    grid-column-gap: 10px; }
  .superttl {
    font-size: 60px;
    text-decoration: underline;
    font-family: 'Staatliches', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: black;
    text-align: center;
    display: block;
    margin: 30px; }
  .parrafo {
    font-style: normal;
    font-family: 'Roboto';
    font-weight: 300;
    display: inline-block;
    margin: 10px;
    text-align: center; }
  #menuRedes ul li {
    display: inline;
    padding: 2px 7px;
    margin: 5px;
    color: #430dc4; }
  #seccionPrincipal {
    grid-area: navbar;
    background-color: #7d8cc4;
    display: inline-block;
    width: 100vw;
    text-align: center;
    position: sticky;
    top: 0px;
    margin: 0px 0px 30px 0px; }
    #seccionPrincipal a {
      color: white;
      text-decoration: none; }
  #menuPrincipal ul li {
    display: inline;
    padding: 5px 12px;
    margin: 10px; }
  #menuRedes {
    grid-area: header;
    align-content: left;
    text-align: left;
    font-size: 18px; } }

@media only screen and (min-width: 768px) {
  #indexGrid {
    display: grid;
    grid-template-areas: "header header"  "navbar navbar"  "nosotros clientes" "servicios clientes" "footer footer";
    grid-template-columns: 4fr 1fr;
    grid-column-gap: 10px; }
  .superttl {
    font-size: 40px;
    text-decoration: underline;
    font-family: 'Staatliches', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: black;
    text-align: center;
    display: block;
    margin: 30px; }
  .parrafo {
    font-style: normal;
    font-family: 'Roboto';
    font-weight: 300;
    display: inline-block;
    margin: 10px;
    text-align: center; }
  .fotoLogo {
    max-width: 500px; }
  #seccionPrincipal {
    grid-area: navbar;
    background-color: #7d8cc4;
    display: flex;
    width: 100vw;
    position: sticky;
    top: 0px;
    margin: 0px 0px 30px 0px; }
    #seccionPrincipal a {
      color: white;
      text-decoration: none; }
  #menuPrincipal ul li {
    display: inline;
    padding: 5px 12px;
    margin: 10px; }
  #menuRedes {
    grid-area: header;
    align-content: left;
    text-align: left;
    font-size: 18px; }
    #menuRedes ul li {
      display: inline;
      padding: 2px 7px;
      margin: 5px;
      color: #430dc4; } }
