$margen-abajo: 12px;
$contenido: space-around;
$screen-m:768px;
$screen-g:1024px;

#seccionClientes{
    grid-area: clientes;
    
    margin-bottom: $margen-abajo*10;
}

.galeriaClientesIndex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: $contenido;
    justify-content: $contenido;

    @media only screen and (min-width: $screen-g) {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    @media only screen and (min-width: $screen-m){
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        
    }
    
}


