@import "_nosotros" ;
@import "servicios";
@import "clientes";
@import "footer";

* {
    Margin:0;
    padding:0;
 }
 
div{
    padding: 4px 10px;
    align-content: center;
    text-align: center;
}


#indexGrid{
    display: flex;
    flex-direction: column;
}

#menuRedes{
    grid-area: header;
    background-color: #4a5788;
    align-content: left;
    text-align: left;
    
    font-size: 12px;
    ul li {
        background-color:#4a5788;;
        display: inline;
        padding: 2px 7px;
        margin: 5px;
        color: rgb(67, 13, 196);
    }
    img{
        height: 25px;
         width: 25px;
    }
}


#seccionPrincipal{
    grid-area: navbar;
    background-color: #7d8cc4;
    display: block;
    width: 100vw;
    text-align: center;
    top: 0px;
    margin: 0px 0px 30px 0px;
    a {
        color: white;
        text-decoration: none;
    }
}

.navegacion{
    width: 100vw;
} 

.fotoLogo{
    max-width: 250px;
    margin: 15px;
}

#menuPrincipal ul li {
    display: block;
    padding: 5px 12px;
    
}

.superttl {
    font-size: 50px;
    text-decoration: underline;
    font-family: 'Staatliches', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: black;
    text-align: center;
    display: block;
    margin: 30px;
}

.parrafo{
    font-style: normal;
    font-family: 'Roboto';
    font-weight: 200;
    display: inline-block;
    margin: 10px;
    text-align:center;
    max-width: 600px;   
}

@media only screen and (min-width: 1024px) {
    #indexGrid{
        display: grid;
        grid-template-areas: 
            "header header" 
            "navbar navbar" 
            "nosotros clientes"
            "servicios clientes"
            "footer footer";
        grid-template-columns: 3fr 1fr;
        grid-column-gap: 10px;
    }

    
    .superttl {
        font-size: 60px;
        text-decoration: underline;
        font-family: 'Staatliches', Arial, Helvetica, sans-serif;
        text-transform: uppercase;
        color: black;
        text-align: center;
        display: block;
        margin: 30px;
    }

    .parrafo{
        font-style: normal;
        font-family: 'Roboto';
        font-weight: 300;
        display: inline-block;
        margin: 10px;
        text-align: center;
    }

    
    #menuRedes ul li {
        display: inline;
        padding: 2px 7px;
        margin: 5px;
        color: rgb(67, 13, 196);
    }
    
    #seccionPrincipal{
        grid-area: navbar;
        background-color: #7d8cc4;
        display: inline-block;
        width: 100vw;
        text-align: center;
        position: sticky;
        top: 0px;
        margin: 0px 0px 30px 0px;
        a {
            color: white;
            text-decoration: none;
        }
    }
    
    #menuPrincipal ul li {
        display: inline;
        padding: 5px 12px;
        margin: 10px;
    }

    #menuRedes{
        grid-area: header;
        
        align-content: left;
        text-align: left;
        
        font-size: 18px;
    }
}

@media only screen and (min-width: 768px) {
    #indexGrid{
        display: grid;
        grid-template-areas: 
            "header header" 
            "navbar navbar" 
            "nosotros clientes"
            "servicios clientes"
            "footer footer";
        grid-template-columns: 4fr 1fr;
        grid-column-gap: 10px;  
    }

    .superttl {
        font-size: 40px;
        text-decoration: underline;
        font-family: 'Staatliches', Arial, Helvetica, sans-serif;
        text-transform: uppercase;
        color: black;
        text-align: center;
        display: block;
        margin: 30px;
    }

    .parrafo{
        font-style: normal;
        font-family: 'Roboto';
        font-weight: 300;
        display: inline-block;
        margin: 10px;
        text-align: center;   
    }

    .fotoLogo{
        max-width: 500px; 
    } 
    
    #seccionPrincipal{
        grid-area: navbar;
        background-color: #7d8cc4;
        display: flex;
        width: 100vw;
        
        position: sticky;
        top: 0px;
        margin: 0px 0px 30px 0px;
        a {
            color: white;
            text-decoration: none;
        }
    }
    
    #menuPrincipal ul li {
        display: inline;
        padding: 5px 12px;
        margin: 10px;
    }

    #menuRedes{
        grid-area: header;
        align-content: left;
        text-align: left;
        
        font-size: 18px;
        ul li {
            display: inline;
            padding: 2px 7px;
            margin: 5px;
            color: rgb(67, 13, 196);
        }
    }
}